
@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>

<p><a href="http://52.89.0.203/moodle/user/policy.php">Sigma</a></p>
<p><a href="https://sena.territorio.la/">Territorio</a></p>
<p><a href="https://www.senasofiaplus.edu.co/">Sena Sofia</a></p>


<p>hola a todos</p>