
@{
    ViewBag.Title = "Buscadores";
}

<h2>Buscadores</h2>

<p><a href="https://www.google.com.co/">Google</a></p>
<p><a href="https://www.google.com.co/">Bing</a></p>
<p><a href="https://www.google.com.co/">Tor</a></p>
<p><a href="https://www.google.com.co/">la patria</a></p>
