
@{
    ViewBag.Title = "Periodicos";
}

<h2>Periodicos</h2>

<p><a href="https://www.lapatria.com/">La Patria</a></p>
<p><a href="https://www.lapatria.com/">El Tiempo</a></p>
<p><a href="https://www.lapatria.com/">El Expectador</a></p>
<p><a href="https://www.lapatria.com/">Quiubo</a></p>

